body, html {
    text-align: center;
    background: linear-gradient(90deg, #CCF5FF, #FFCCFC);
    background-size: cover;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 150px;
    background-color: #FFFFFF;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

.footer p {
    font-size: 21px;
    color: #FFFFF6;
}

a {
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #2196F3;
}
